<div class="container">
  <div class="client-details">
    <div class="row">
      <!-- OPTIONS CLIENT DETATILS LIST -->
      <div class="col s2">
        <div class="section">
          <div  class="collection hoverable z-depth-3 options-list">
            <a class="collection-item" ng-repeat="option in options" ng-class="{active: option.selected}"
            ng-click="goToState(option.name, $index)">{{option.name}}</a>
          </div>
        </div>
        <a ng-if="!isSupplier" ng-click="followCompany()" class="waves-effect waves-light btn" style="padding: 2px 15px 4px 15px !important;">Seguir
          <ng-md-icon icon="person_add" style="fill: black; margin-bottom:4px" size="25"></ng-md-icon>
        </a>
        <a ng-if="isSupplier" class="waves-effect waves-light btn disabled" style="padding: 2px 15px 4px 15px !important;">Siguiendo
          <ng-md-icon icon="person" style="fill: black; margin-bottom:4px" size="25"></ng-md-icon>
        </a>
      </div>
      <div class="option-content  card col s10" >
        <div class="card-content header-client-details">
            <h5 class="center"><strong>Detalles del cliente: {{client.name}}</strong></h5>
        </div>
        <div  ui-view>
        </div>
      </div>
    </div>
  </div>
</div>
