<div class="container">
  <h5 class="center"><strong>Clientes</strong></h5>
  <div class="row">
      <div class="input-field input-group">
        <ng-md-icon icon="search" class="prefix" style="fill: black" size="30"></ng-md-icon>
        <input type="text" id="searchInput" ng-model="searchText.$">
        <label for="searchInput">Filtrar los resultados</label>
      </div>
  </div>
  <div class="responsive-table">
    <table class="highlight">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre</th>
          <th>NIT</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Sitio web</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row-link" ng-click="showDetails(client)" ng-repeat="client in clients | filter:searchText | orderBy: sortByProperty:sortReversed">
          <td style="vertical-align:middle"><img ng-style="imgAvatarStyle" class="img-profile materialboxed" 
          ng-src="{{client.imageURI}}" height="40" width="40"></td>
          <td style="vertical-align:middle">{{client.name | capitalize}}</td>
          <td style="vertical-align:middle">{{client.nit}}</td>
          <td style="vertical-align:middle">{{client.Headquarters[0].phonenumber}}</td>
          <td style="vertical-align:middle">{{client.Headquarters[0].nomenclature + ', ' + client.Headquarters[0].city + ', ' + client.Headquarters[0].department}}</td>
          <td style="vertical-align:middle">{{client.website}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
