<div class="card">
  <div class="card-title">
    <h5>Fecha: {{today}}</h5>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col s3">
        <div input-field>
          <input type="text" name="nit" readonly value="{{client.nit}}">
          <label>NIT</label>
        </div>
      </div>
      <div class="col s3">
        <div input-field>
          <input type="text" name="name" value="{{client.name}}" readonly>
          <label>Cliente</label>
        </div>
      </div>
      <div class="col s3">
        <div input-field>
          <input type="text" name="contact" value="{{mainHeadquarters.contact}}" readonly>
          <label>Contacto</label>
        </div>
      </div>
      <div class="col s3">
        <div input-field>
          <input type="text" name="email" value="{{client.User.email}}" readonly>
          <label>Correo electrónico</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <div input-field>
          <input type="text" name="nomenclature" value="{{mainHeadquarters.nomenclature}}" readonly>
          <label>Dirección</label>
        </div>
      </div>
      <div class="col s3">
        <div input-field>
          <input type="text" name="city" value="{{mainHeadquarters.city}}" readonly>
          <label>Ciudad</label>
        </div>
      </div>
      <div class="col s2">
        <div input-field>
          <input type="text" name="phonenumber" value="{{mainHeadquarters.phonenumber}}" readonly>
          <label>Teléfono</label>
        </div>
      </div>

      <div class="col s2">
        <div input-field>
          <select id="validityPeriod" ng-model="quotation.validityPeriod.selected" ng-options="validityPeriod for validityPeriod in quotation.validityPeriod.choices" material-select watch>
            <option value="">Seleccionar</option>
          </select>
          <label>Validez (Días)</label>
        </div>
      </div>
      <div class="col s2">
        <div input-field>
          <select id="paymentForms" ng-model="quotation.paymentForms.selected" ng-options="paymentForm.name for paymentForm in quotation.paymentForms.choices" material-select watch>
            <option value="">Seleccionar</option>
          </select>
          <label>Forma de pago</label>
        </div>
      </div>
    </div>
  </div>
</div>
