<div class="container section">
  <div class="card-panel hoverable z-depth-3">
    <h5 class="center"><strong>Proveedores</strong></h5>
    <div class="row">
      <!-- <div class="col s10"> -->
        <div class="input-field input-group">
          <ng-md-icon icon="search" class="prefix" style="fill: black" size="30"></ng-md-icon>
          <input type="text" id="searchInput" ng-model="searchText.$">
          <label for="searchInput">Filtrar los resultados</label>
        </div>
      <!-- </div> -->
    </div>
      <table class="highlight bordered responsive-table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre</th>
            <th>NIT</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Sitio web</th>
          </tr>
        </thead>

        <tbody>
          <tr class="row-link" ng-click="showDetails(supplier)" ng-repeat="supplier in suppliers | filter:searchText | orderBy: sortByProperty:sortReversed">
            <td style="vertical-align:middle">
              <img ng-style="imgAvatarStyle" class="materialboxed" ng-src="{{supplier.imageURI}}" height="40" width="40" ng-if="supplier.imageURI">
              <img ng-style="imgAvatarStyle" class="materialboxed" src="./images/no-image.jpg" height="40" width="40" ng-if="!supplier.imageURI">
          </td>
            <td style="vertical-align:middle">{{supplier.name}}</td>
            <td style="vertical-align:middle">{{supplier.nit}}</td>
            <td style="vertical-align:middle">{{supplier.Headquarters[0].phonenumber}}</td>
            <td style="vertical-align:middle">{{supplier.Headquarters[0].nomenclature + ', ' + supplier.Headquarters[0].city + ', ' + supplier.Headquarters[0].department}}</td>
            <td style="vertical-align:middle">{{supplier.website}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
