<div class="container section scrollspy" id="home">
  <div class="section">
    <div class="responsive-video">
      <iframe width="1100" height="540" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="divider"></div>
<div ng-if="!authenticated" class="container section scrollspy" id="signup">
  <div class="section ">
    <br>
    <br>
    <h2>Registro</h2>
    <div class="card">
      <div class="card-content">
        <form ng-submit="registerUser()" name="forms.formSignup" novalidate>
          <div class="row">
            <div class="col s8">
              <div class="card">
                <div class="card-title">
                  <h5>Información de la empresa</h5>
                </div>
                <div class="card-content">
                  <div class="row">
                    <div class="col s7">
                      <div input-field>
                        <div ng-class="{'has-error': forms.formSignup.name.$invalid && (!forms.formSignup.name.$pristine || forms.formSignup.$submitted || forms.formSignup.name.$touched),
                        'has-success': forms.formSignup.name.$valid}">
                          <i class="fa fa-building-o prefix"></i>
                          <input type="text" ng-model="user.name" name="name" required placeholder="Nombre de su empresa" required>
                          <label>Nombre</label>
                          <!-- VALIDACIONES DE NOMBRE DE EMPRESA -->
                          <div ng-messages="forms.formSignup.name.$error" ng-if="forms.formSignup.name.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                            <p ng-message="required" class="help-block"><b>Debe ingresar un nombre de empresa.</b></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s5">
                      <div input-field>
                        <div ng-class="{'has-error': forms.formSignup.nit.$invalid && (!forms.formSignup.nit.$pristine || forms.formSignup.$submitted || forms.formSignup.nit.$touched),
                        'has-success': forms.formSignup.nit.$valid}">
                          <i class="fa fa-id-card-o prefix"></i>
                          <input type="number" name="nit" ng-model="user.nit" placeholder="Ej. 900443543-3" required>
                          <label>NIT</label>
                          <!-- VALIDACIONES DE NIT -->
                          <div ng-messages="forms.formSignup.nit.$error" ng-if="forms.formSignup.nit.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                            <p ng-message="required" class="help-block"><b>Debe ingresar un nit.</b></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s7">
                      <div input-field>
                        <div ng-class="{'has-error': forms.formSignup.businessOverview.$invalid && (!forms.formSignup.businessOverview.$pristine || forms.formSignup.$submitted || forms.formSignup.businessOverview.$touched),
                        'has-success': forms.formSignup.businessOverview.$valid}">
                          <i class="fa fa-info prefix"></i>
                          <textarea ng-model="user.businessOverview" placeholder="Descripción empresarial" ng-maxlength="250" name="businessOverview" class="materialize-textarea" required></textarea>
                          <label>Descripción de la empresa</label>
                          <!-- VALIDACIONES DE OVERVIEW -->
                          <div ng-messages="forms.formSignup.businessOverview.$error" ng-if="forms.formSignup.businessOverview.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                            <p ng-message="required" class="help-block"><b>Debe ingresar una descripción empresarial.</b></p>
                            <p ng-message="maxlength" class="help-block"><b>La descripción no puede exceder los 250 carácteres.</b></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s5">
                      <div input-field>
                        <i class="fa fa-external-link prefix"></i>
                        <input type="url" ng-model="user.website" required>
                        <label>Sitio web</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s4 image-upload">
              <input type="file" id="file-input" name="imageFile" ng-model="imageFile" base-sixty-four-input required onloadend="onLoad" accept="image/jpg, image/jpeg, image/png">
              <img class="image-avatar" ng-style="imgAvatarStyle" id="image-avatar" ng-src="{{user.imageDataURI}}" height="300" width="300">
              <div class="icon-upload">
                <label for="file-input">
                    <img class="add-image" id="add-image" ng-src="../../images/uploadIcon.png" >
                  </label>
              </div>
              <div class="row center label-logo">
                <p>Cargue el logo de su empresa.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-title">
              <h5>Información sede principal</h5>
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col s4">
                  <div input-field>
                    <i class="fa fa-map-o prefix"></i>
                    <select class="" ng-model="countries.selected" ng-options="country.name for country in countries.choices" ng-change="getDepartments(countries.selected.alpha2Code)" material-select watch></select>
                    <label>País</label>
                  </div>
                </div>
                <div class="col s4">
                  <div input-field>
                    <i class="fa fa-map-signs prefix"></i>
                    <select class="" ng-model="departments.selected" ng-options="department.adminName1 for department in departments.choices" ng-change="getCities(departments.selected.adminCode1)" material-select watch></select>
                    <label>Departamento</label>
                  </div>
                </div>
                <div class="col s4">
                  <div input-field>
                    <ng-md-icon icon="location_city" class="prefix" style="fill: black" size="30"></ng-md-icon>
                    <select class="" ng-model="cities.selected" ng-options="city.name for city in cities.choices" material-select watch>
                        </select>
                    <!-- <input type="text" ng-model="user.city" length="150"> -->
                    <label>Ciudad</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <div input-field>
                    <div ng-class="{'has-error': forms.formSignup.nomenclature.$invalid && (!forms.formSignup.nomenclature.$pristine || forms.formSignup.$submitted || forms.formSignup.nomenclature.$touched),
                        'has-success': forms.formSignup.nomenclature.$valid}">
                      <i class="fa fa-map-marker prefix"></i>
                      <input type="text" name="nomenclature" placeholder="Ej. Calle 43 # 54-19" ng-model="user.nomenclature" required>
                      <label>Dirección</label>
                      <!-- VALIDACIONES DE DIRECCIÓN -->
                      <div ng-messages="forms.formSignup.nomenclature.$error" ng-if="forms.formSignup.nomenclature.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                        <p ng-message="required" class="help-block"><b>Debe ingresar una dirección.</b></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s6">
                  <div input-field>
                    <div ng-class="{'has-error': forms.formSignup.phonenumber.$invalid && (!forms.formSignup.phonenumber.$pristine || forms.formSignup.$submitted || forms.formSignup.phonenumber.$touched),
                        'has-success': forms.formSignup.phonenumber.$valid}">
                      <i class="fa fa-phone prefix"></i>
                      <input type="text" name="phonenumber" placeholder="Ej. 2232111" ng-model="user.phonenumber" required>
                      <label>Teléfono</label>
                      <!-- VALIDACIONES DE TELÉFONO -->
                      <div ng-messages="forms.formSignup.phonenumber.$error" ng-if="forms.formSignup.phonenumber.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                        <p ng-message="required" class="help-block"><b>Debe ingresar un teléfono.</b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <div input-field>
                    <div ng-class="{'has-error': forms.formSignup.contact.$invalid && (!forms.formSignup.contact.$pristine || forms.formSignup.$submitted || forms.formSignup.contact.$touched),
                        'has-success': forms.formSignup.contact.$valid}">
                      <i class="fa fa-user-o prefix"></i>
                      <input type="text" name="contact" placeholder="Ej. Carlos Martinez" ng-model="user.contact" required>
                      <label>Contacto</label>
                      <!-- VALIDACIONES DE CONTACTO -->
                      <div ng-messages="forms.formSignup.contact.$error" ng-if="forms.formSignup.contact.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                        <p ng-message="required" class="help-block"><b>Debe ingresar un contacto.</b></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s6">
                  <div input-field>
                    <div ng-class="{'has-error': forms.formSignup.contactPhonenumber.$invalid && (!forms.formSignup.contactPhonenumber.$pristine || forms.formSignup.$submitted || forms.formSignup.contactPhonenumber.$touched),
                        'has-success': forms.formSignup.contactPhonenumber.$valid}">
                      <i class="fa fa-mobile prefix"></i>
                      <input type="number" name="contactPhonenumber" placeholder="Ej. 3214323456" ng-model="user.contactPhonenumber" required>
                      <label>Teléfono contacto</label>
                      <!-- VALIDACIONES DE NÚMERO DE TELÉFONO DE CONTACTO -->
                      <div ng-messages="forms.formSignup.contactPhonenumber.$error" ng-if="forms.formSignup.contactPhonenumber.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                        <p ng-message="required" class="help-block"><b>Debe ingresar un número de teléfono de contacto.</b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-title">
              <h5>Información de la cuenta</h5>
            </div>
            <div class="card-content">
              <div class="row">
                <div input-field class="col s4">
                  <div ng-class="{'has-error': forms.formSignup.email.$invalid && (!forms.formSignup.email.$pristine || forms.formSignup.$submitted || forms.formSignup.email.$touched),
                  'has-success': forms.formSignup.email.$valid}">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="email" name="email" placeholder="Ej. arketops@gmail.com" ng-model="user.email" required>
                    <label>Email</label>
                    <!-- VALIDACIONES DE CORREO -->
                    <div ng-messages="forms.formSignup.email.$error" ng-if="forms.formSignup.email.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                      <p ng-message="required" class="help-block"><b>Debe ingresar un correo electrónico.</b></p>
                      <p ng-message="email" class="help-block"><b>Debe ingresar una dirección de correo electronico válido.</b></p>
                    </div>
                  </div>
                </div>
                <div input-field class="col s4">
                  <div ng-class="{'has-error': forms.formSignup.password.$invalid && (!forms.formSignup.password.$pristine || forms.formSignup.$submitted || forms.formSignup.password.$touched),
                'has-success': forms.formSignup.password.$valid}">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" name="password" id="password" placeholder="Ej.  Ark3t03Cc$" ng-model="user.password" ng-minlength="6" length="20" required>
                    <label>Contraseña</label>
                    <!-- VALIDACIONES DE CONTRASEÑA -->
                    <div ng-messages="forms.formSignup.password.$error" ng-if="forms.formSignup.password.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                      <p ng-message="required" class="help-block"><b>Debe ingresar una contraseña.</b></p>
                      <p ng-message="minlength" class="help-block"><b>La contraseña debe tener por lo menos 6 carácteres.</b></p>
                    </div>
                  </div>
                </div>
                <div input-field class="col s4">
                  <div ng-class="{'has-error': forms.formSignup.rePassword.$invalid && (!forms.formSignup.rePassword.$pristine || forms.formSignup.$submitted || forms.formSignup.rePassword.$touched),
              'has-success': forms.formSignup.rePassword.$valid}">
                    <i class="fa fa-unlock-alt prefix"></i>
                    <input type="password" name="rePassword" id="rePassword" placeholder="Ej. Ark3t03Cc$" match-password="password" ng-model="user.rePassword" length="20" required>
                    <label>Confirmar contraseña</label>
                    <!-- VALIDACIONES DE CONTRASEÑA -->
                    <div ng-messages="forms.formSignup.rePassword.$error" ng-if="forms.formSignup.rePassword.$touched || forms.formSignup.$submitted" ng-messages-multiple>
                      <p ng-message="required" class="help-block"><b>El campo de confirmar contraseña es obligatorio.</b></p>
                      <p ng-message="passwordMatch" class="help-block"><b>Las contraseñas deben ser iguales.</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row ">
              <div ng-class="{'has-error': forms.formSignup.termsAndConditions.$invalid && (!forms.formSignup.termsAndConditions.$pristine || forms.formSignup.$submitted),
              'has-success': forms.formSignup.termsAndConditions.$valid}">
                <input type="checkbox" class="filled-in" id="filled-in-box" ng-model="termsAndConditions" ng-click="switchValueCheckbox()" ng-required="!termsAndConditions" />
                <label for="filled-in-box">Aceptar terminos y condiciones.</label>
                <!-- VALIDACIONES DE TERMINOS Y CONDICIONES. -->
                <div ng-messages="forms.formSignup.termsAndConditions.$error" ng-if="forms.formSignup.$submitted" ng-messages-multiple>
                  <p ng-message="required" class="help-block"><b>Debe aceptar los terminos y condiciones.</b></p>
                </div>
              </div>
            </div>

            <div class="row center">
              <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                <i class="fa fa-send right"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="container section scrollspy" id="contactus">
  <div class="section">
    <br>
    <br>
    <h2>Contáctenos</h2>
    <div class="row">
      <form class="col s8">
        <div class="row">
          <div class="input-field col s6">
            <input id="name" type="text" class="validate">
            <label for="name">Tu Nombre</label>
          </div>
          <div class="input-field col s6">
            <input id="email" type="email" class="validate">
            <label for="email">Tu Correo</label>
          </div>
        </div>
        <!--row-->
        <div class="row">
          <div class="input-field col s12">
            <input id="message-sub" type="text" class="validate">
            <label for="message-sub">Asunto del mensaje</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="text_area" class="materialize-textarea"></textarea>
            <label for="text_area">Tu mensaje</label>
          </div>
        </div>
        <div>
          <a class="waves-effect waves-light btn purple lighten-1">Enviar mensaje<i class="mdi-content-send right"></i></a>
        </div>
      </form>
    </div>
  </div>
</div>
