<div id="navbar" class="navbar-fixed scrollspy">
  <nav class="white">
    <div class="nav-wrapper container">
      <img src="../../images/logo.png" class="brand-logo" width="200" height="50" alt="Logo Arketops">
      <div class="sample ten">
        <input type="search" name="search" placeholder="Search..">
        <i class="fa fa-search"></i>
      </div>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down col s12">
        <li><a class="head-link" ui-sref="home">Inicio</a></li>
        <li><a class="head-link" href="#contactus">Contáctenos</a></li>
        <li><a class="head-link" href="#signup">Registrarse</a></li>
        <li><a class="head-link" ng-click="formSignin()">Iniciar sesión</a></li>

      </ul>
      <ul class="right side-nav" id="mobile-demo">
        <li><a class="head-link" ui-sref="home">Inicio</a></li>
        <li><a class="head-link" href="#contactus">Contáctenos</a></li>
        <li><a class="head-link" href="#signup">Registrarse</a></li>
        <li><a class="head-link" ng-click="formSignin()">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>
</div>
