<div id="navbar" class="navbar-fixed scrollspy">
  <nav class="white">
    <div class="nav-wrapper container">
      <img src="../../images/logo.png" class="brand-logo" width="200" height="50" alt="Logo Arketops">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down col s12">
        <li><a class="head-link" ng-click="openSearchNav()" >Buscar</a></li>
        <li><a class="head-link" ui-sref="home">Inicio</a></li>
        <li><a class="head-link" ng-click="showFormContactus()">Contáctenos</a></li>
        <li ng-if="!authenticated"><a class="head-link" ng-click="showFormSignup()" >Registrarse</a></li>
        <li ng-if="!authenticated"><a class="head-link" href="#signinModal" ready="modalReady()" complete="modalComplete()" open="openModal" modal>Iniciar sesión</a></li>
        <li ng-if="authenticated"><a class="head-link" ng-click="signout()">Cerrar sesión</a></li>
      </ul>
      <ul class="right side-nav section" id="mobile-demo">
        <li><a class="head-link" ui-sref="home">Inicio</a></li>
        <li><a class="head-link" href="#contactus">Contáctenos</a></li>
        <li ng-if="!authenticated"><a class="head-link" href="#signup">Registrarse</a></li>
        <!-- <li ng-if="!authenticated"><a class="head-link" >Iniciar sesión</a></li> -->
        <li ng-if="authenticated"><a class="head-link" ng-click="signout()">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div id="searchNav" ng-style="searchNavStyle" class="overlay">
    <a class="closebtn" ng-click="closeSearchNav()">&times;</a>
    <div class="overlay-content">
      <div class="form-search">
        <form ng-submit="showResults()">
          <span><label for="selectFilter">Buscar por: </label></span>
          <span><select class="select-filter browser-default" name="selectFilter" id="selectFilter" ng-model="filters.selected" ng-options="filter for filter in filters.choices"></select></span>
          <span><input type="search" ng-model="searchValue" name="search" class="browser-default" placeholder="Buscar.."></span>
          <span class="arrow"><button class="btn-search" type="submit" name="action"><i class="fa fa-search"></i></button></span>
        </form>
      </div>
    </div>
  </div>

</div>

<div ng-if="authenticated" class="container">
  <menubar></menubar>
</div>

<!-- Modal Structure -->
<div id="signinModal" class="modal">
  <div class="modal-content">
    <h4 class="center">Inicio de sesión</h4>
    <signin-form></signin-form>
  </div>
</div>
