<topbar class="topbar"></topbar>

<main class="main" ui-view></main>

<footer class="page-footer theme-color-1">
  <div class="footer-copyright">
    <div class="container">
      <p>Copyright © Arketops 2017</p>
    </div>
  </div>
</footer>
