<nav class="white">
  <div class="navbar">
    <ul id="nav-mobile" class="center hide-on-med-and-down">
      <li>
        <a ui-sref="companyProfile">Perfil</a>
      </li>

      <li>
        <a ui-sref="elements">Elementos</a>
      </li>

      <li>
        <a
          dropdown
          data-activates='productOptions'
          data-hover="true"
          data-beloworigin="true"
          href="">Productos</a>
      </li>

      <li>
        <a
          dropdown
          data-activates='quotationOptions'
          data-hover="true"
          data-beloworigin="true"
          href="">Cotizaciones</a>
      </li>

      <li>
        <a
          dropdown
          data-activates='clientSupplierOptions'
          data-hover="true"
          data-beloworigin="true"
          href="">Clientes y proveedores
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul id='productOptions' class='dropdown-content'>
  <li><a ui-sref="portfolio">Portafolio</a></li>
  <li><a ui-sref="productCreation">Crear</a></li>
</ul>

<ul id='quotationOptions' class='dropdown-content'>
  <li><a href="javascript:void(0);">Crear</a></li>
  <li><a href="javascript:void(0);">Listar</a></li>
</ul>

<ul id='clientSupplierOptions' class='dropdown-content'>
  <li><a ui-sref="clientsList">Ver clientes</a></li>
  <li><a ui-sref="suppliersList">Ver proveedores</a></li>
</ul>
