<div class="container">
  <br>
  <div class="row">
    <div class="card-panel hoverable z-depth-3 element-create">
      <label><h4>Crea tu nuevo producto.</h4></label>

      <form ng-submit="createProduct()" novalidate>
        <div class="row">
          <div class="col l8 s12">

            <div class="col l9 s12">
              <div input-field>
                <input type="text" ng-model="product.name" required>
                <label>Nombre</label>
              </div>
            </div>

            <div class="col l3 s12">
              <div input-field>
                <input type="text" ng-model="product.code" required>
                <label>Código</label>
              </div>
            </div>

            <div class="col l3 m6 s12">
              <div input-field>
                <select material-select data-beloworigin="true" ng-model="product.category" ng-options="data.name for data in categories.ElementData">
                  <option value="">Categoria</option>
                </select>
                <label>Categoria</label>
              </div>
            </div>

            <div class="col l3 m6 s12">
              <div input-field>
                <select material-select data-beloworigin="true" ng-model="product.line" ng-options="data.name for data in lines.ElementData">
                  <option value="">Linea</option>
                </select>
                <label>Linea</label>
              </div>
            </div>

            <div class="col l3 m6 s12">
              <div input-field>
                <select material-select data-beloworigin="true" ng-model="product.brand" ng-options="data.name for data in brands.ElementData">
                  <option value="">Marca</option>
                </select>
                <label>Marca</label>
              </div>
            </div>

            <div class="col l3 m6 s12">
              <div input-field>
                <select material-select data-beloworigin="true" ng-model="product.tax" ng-options="data.name for data in taxes.ElementData">
                  <option value="">Impuesto</option>
                </select>
                <label>Impuesto</label>
              </div>
            </div>

            <div class="col l12 s12 ">
              <div input-field class="image-upload">
                <textarea class="materialize-textarea" type="text" ng-model="product.description" required></textarea>
                <label>Descripción</label>
              </div>
            </div>

            <div class="col l4 s12">
              <div input-field>
                <input type="number" ng-model="product.price" required>
                <label>Precio</label>
              </div>
            </div>

            <div class="col l8 s12">
              <div input-field>
                <input type="text" name="" value="{{(0 || product.price) - (product.category ? product.price * product.category.discount / 100: 0) | currency}}" disabled>
              </div>
            </div>

            <div class="col l4 s12">
              <div input-field>
                <select material-select data-beloworigin="true" ng-model="product.state" ng-options="state.name for state in states">
                  <option value="">Estado</option>
                </select>
                <label>Estado</label>
              </div>
            </div>
          </div>

          <div class="col l4 s12 image-upload">
            <input type="file" id="file-input" name="imageFile" ng-model="imageFile" base-sixty-four-input required onload="onLoad" accept="image/jpg, image/jpeg, image/png">
            <img class="image-avatar" ng-style="imgAvatarStyle" id="image-avatar" ng-src="data:{{fileObject.filetype}};base64,{{fileObject.base64}}" height="300" width="300">
            <div class="icon-upload">
              <label for="file-input">
                <img class="add-image" id="add-image" ng-src="../../images/uploadIcon.png" >
              </label>
            </div>
            <div class="row center label-logo">
              <p>Seleccione la imagen del producto.</p>
            </div>
          </div>

        </div>

        <div class="row">
          <button type="submit" class="btn waves-effect waves-light" name="button">Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
