<div class="container">
  <div class="row">
    <form class="col s8 offset-s2" ng-submit="getToken()" ng-show="!waitingCode" name="tokenCompany" novalidate>
      <div class="row">
        <h1 class="center">¿Olvidaste tu contraseña?</h1>
        <p>Si has olvidado tu contraseña puedes usar esta página para solicitar una nueva. Escribe tu correo electrónico y luego da click en enviar.</p>
      </div>
      <div class="row">
        <div class="input-field col s8 offset-s2">
          <div ng-class="{'has-error': tokenCompany.user.$invalid && (!tokenCompany.$pristine || tokenCompany.$submitted || tokenCompany.user.$touched),
          'has-success': tokenCompany.user.$valid}">
            <ng-md-icon class="prefix" icon="email" style="fill: black" size="40"></ng-md-icon>
            <input name="user" ng-model="user.email" placeholder="Ingrese su correo electrónico Ej. jhon_snow@winterfell.com" type="email" required>
            <!-- <label for="email">Correo electronico</label> -->
            <!-- VALIDACIONES DE CUENTA DE USUARIO -->
            <div ng-messages="tokenCompany.user.$error" ng-if="tokenCompany.user.$touched || tokenCompany.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>Debe ingresar un correo electrónico.</b></p>
              <p ng-message="email" class="help-block"><b>Debe ingresar una correo electrónico valido.</b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="input-field col s4 offset-s5">
        <button class="btn btn-small btn-register waves-effect waves-light" type="submit" name="action">Enviar
            <ng-md-icon icon="done" style="fill: white" size="20"></ng-md-icon>
          </button>
      </div>

    </form>

    <form name="formRecoverPassword" ng-submit="recoverPassword()" class="animate-show col s8 offset-s2" ng-show="waitingCode" novalidate>
      <div class="row">
        <h1 class="center">Recuperar contraseña</h1>
        <p>Ingresa el código que hemos enviado a su correo electrónico para reestablecer tu contraseña.</p>
        <!-- CÓDIGO-->
        <div class="input-field col s8 offset-s2">
          <div ng-class="{'has-error': formRecoverPassword.code.$invalid && (!formRecoverPassword.$pristine || formRecoverPassword.$submitted || formRecoverPassword.code.$touched),
          'has-success': formRecoverPassword.code.$valid}">
          <ng-md-icon class="prefix" icon="code" style="fill: black" size="40"></ng-md-icon>
          <!-- <label for="code">Código</label> -->
          <input type="text" name="code" placeholder="Ingrese el código Ej. dEca02zX"
           ng-model="user.code" required>

          <!-- VALIDACIONES DE CUENTA CÓDIGO -->
          <div ng-messages="formRecoverPassword.code.$error" ng-if="formRecoverPassword.code.$touched || formRecoverPassword.$submitted" ng-messages-multiple>
            <p ng-message="required" class="help-block"><b>Debe ingresar el código solicitado.</b></p>
          </div>
        </div>
      </div>

      <div class="input-field col s4 offset-s5">
        <button class="btn btn-small btn-register waves-effect waves-light" name="send" type="submit" >Enviar
          <ng-md-icon icon="done" style="fill: white" size="20"></ng-md-icon>
        </button>

      </div>
    </div>
    </form>
  </div>
</div>
<!-- <div ng-if="sending" class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-red">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-yellow">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>

  <div class="spinner-layer spinner-green">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div> -->
