.client-details {
  .header-client-details {
    padding: 10px !important;
  }
  .options-list {

    a {
      cursor: pointer;
    }
  }

  .option-content {
    margin-top: 14px !important;
    margin-left: 10px !important;
    width: 75% !important;
  }
}
