.client-details {

  .options-list {

    a {
      cursor: pointer;
    }
  }

  .option-content {
    margin-top: 24px !important;

    .header-client-details {
      margin-top: -20px;
      margin-bottom: -30px;
    }
  }
}
