.company-summary {
  .card-content {
    padding-bottom: 0 !important;

    .card-company {
      .image-profile {
        margin-left: 20px;
        margin-top: 27px;
      }

      .field-data {
        margin-top: -18px;
      }

      .company-data {
        margin: -25px 0 0 -35px !important;

        h5 {
          text-align: center;
        }

        .business-overview-section {
          margin-left: -25px;
          margin-right: 10px;
          text-align: justify;
        }

        .main-data-section {
          margin-top: 50px;
        }

        label {
          font-size: 14px;
        }

        .headquarters {
          margin-left: -15px;
          margin-top: -20px;
          label {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.header-list {
  padding: 10px 10px 10px 35px;
  margin: -30px 24px -10px 24px !important;
  background-color: @color-yellow-lighten-3;

  .code-col {
    float: left;
    width: 12%;
  }

  .name-col {
    float: left;
    width: 68%;
  }

  .price-col {
    float: left;
    width: 12%;
  }

  .tax-col {
    float: left;
    width: 8%;
  }
}

.collapsible {
  label {
    font-size: 15px;
  }

  .collapsible-body {
    padding: 10px 10px 10px 20px !important;

    .row {
      margin-bottom: -5px;

      .product-description {
        margin-left: -40px;
        max-width: 200px;
      }

      .element-data {
        width: 40%;
        max-width: 400px;
        display: inline-table;

        .element {
          display: table-cell;
          width: 100px;
        }

        .value-element-data {
          display: table-cell;
          width: 100px;
        }

        .discount-element-data {
          display: table-cell;
        }
      }
    }
  }
}

.custom-header {
  display: block;
  -webkit-tap-highlight-color: transparent;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  .header {
    transition: all 0.5s ease;
    &:hover {
      cursor: pointer;
      // padding-left: 20px;
      label {
        transition: all 0.5s ease;
        font-size: 120%;
      }
    }

    label {
      color: black;
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.discounts-section {
  padding-top: 0px !important;
  margin-top: -10px;
}
