.company-summary {
  .card-content {
    padding-bottom: 0 !important;

    .card-company {
      .image-profile {
        margin-left: 20px;
        margin-top: 27px;
      }

      .field-data {
        margin-top: -18px;
      }

      .company-data {
        margin: -25px 0 0 -35px !important;

        h5 {
          text-align: center;
        }

        .business-overview-field {
          margin-left: -25px;
          margin-right: 10px;
          text-align: justify;
        }

        label {
          font-size: 14px;
        }
      }
    }
  }
}

.collapsible-body {
  padding: 10px 10px 10px 20px !important;

  .row {
    margin-bottom: -5px;
  }

  label {
    font-size: 15px;
  }
}
