result-card {
  display: inline-block;
  vertical-align: top;

  .card {
    width: 205px;
    margin: 10px;
  }

  .card-image {
    img {
      width: 100%;
    }
  }

  .card-content {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    vertical-align: middle;
    .card-title {
      font-size: 14px;
      font-weight: bold;
      line-height: 10px !important;
    }
    a {
      font-size: 12px;
      cursor: pointer;
    }
  }

  .card-action {
    padding: 10px !important;
    font-size: 12px;
  }

  .card-reveal {
    max-height: 100%;
    max-width: 100%;
    .card-title {
      font-size: 14px;
      font-weight: bold;
      line-height: 10px !important;
    }
    p {
      text-align: justify;
      font-size: 12px;
    }
  }
}
