.responsive-table {

  tbody {

    .row-link {
      cursor: pointer;
    }
  }
}

.supplier-details {
  .options-list {

    a {
      cursor: pointer;
    }
  }

  .option-content {
    margin-top: 24px !important;
    
    .header-supplier-details {
      margin-top: -20px;
      margin-bottom: -30px;
    }
  }
}
