nav .brand-logo,
nav ul a {
  color: #444;
}

.button-collapse {
  color: #ee6e73;
}

nav a.button-collapse {
  color: black;
}

.purple.lighten-1 {
  background-color: #CC0066 !important;
}

.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}

nav {
  overflow: visible;
}

nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

input[type=search] {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 4px;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
    width: 100%;
}
.sample {
  float: left;
  height: 50px;
  margin: 0 8%;
  position: relative;
  width: 44%;
  padding-left: 140px;
}
