<div class="row">
  <div class="input-field input-group">
    <ng-md-icon icon="search" class="prefix" style="fill: black" size="30"></ng-md-icon>
    <input type="text" id="searchInput" ng-model="searchText.$">
    <label for="searchInput">Filtrar los resultados</label>
  </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion" watch>
  <li>
    <div class="collapsible-header ">
      <div class="row">
        <span class="col l1 m2 s3">
          <label for="">Código</label>
        </span>

        <span class="col l8 m6 s3">
          <label for="">Producto</label>
        </span>

        <span class="col l2 m2 s3">
          <label for="">Precio</label>
        </span>

        <span class="col l1 m2 s3">
          <label for="">Impuesto</label>
        </span>
      </div>
    </div>
  </li>

  <li ng-repeat="product in products | filter:searchText" on-finish-render>
    <div class="collapsible-header">
      <div class="row">
        <span class="col l1 m2 s3">
          {{product.code}}
        </span>
        <span class="col l8 m6 s3">
          {{product.name | capitalize}}
          {{product.ElementData[0].name}}
        </span>

        <span class="col l2 m2 s3">
          <span>{{product.price | currency : '$' : '0'}}</span>
        </span>

        <span class="col l1 m2 s3">
          {{product.ElementData[3].discount}}%
        </span>
      </div>

    </div>

    <div class="collapsible-body">
      <div class="row">

        <div class="col s12 m2">
          <div class="row section">
            <img
              class="responsive-img section col s12 m12"
              data-caption="{{product.description}}"
              ng-src="{{product.imageURI}}">
            <button
              type="button"
              class="btn col s6 m12"
              style="margin-top:5px"
              name="button"
              ng-if="isPrivate()"
              ng-click="updateProduct(product)">Editar</button>
            <button
              type="button"
              class="btn col s6 m12"
              style="margin-top:5px"
              name="button"
              ng-if="isPrivate()"
              ng-click="deleteConfirm(product)">Eliminar</button>
          </div>
        </div>

        <div class="col s12 m10">
          <!-- <div class="row section">
            <div class="col s12 m6" ng-repeat="elementData in product.ElementData">
              <span>
                <label for="elementData">{{elementData.Element.name | capitalize}}:
                </label>
              </span>

              <span>
                <strong>{{elementData.name}}</strong>
              </span>

              <span ng-if="isPrivate() && (elementData.Element.name.toUpperCase() !== 'IMPUESTO')">
                <strong>{{elementData.discount}}
                  <span ng-if="elementData.discount">% Desc.</span>
                </strong>
              </span>

            </div>
          </div> -->
          <div class="row section">
            <div class="col s12 m12 ">
              <label for="description">Descripción:
              </label><br>
              <textarea class="materialize-textarea" readonly>{{product.description}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
