<div class="row">
  <div class="input-field input-group">
    <ng-md-icon icon="search" class="prefix" style="fill: black" size="30"></ng-md-icon>
    <input type="text" id="searchInput" ng-model="searchText.$">
    <label for="searchInput">Filtrar los resultados</label>
  </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion" watch>
  <li ng-repeat="product in products | filter:searchText" on-finish-render>

    <div class="collapsible-header">
      <ng-md-icon class="prefix" icon="blur_on" style="fill: blue darken-1" size="20"></ng-md-icon>
      <span style="margin-right: 30px;">
        <label for="">Código:
        </label>{{product.code}}</span>
      <span class="main-data">
        <span class="badge">{{product.price | currency : '$' : '0'}}</span>
        <label for="">Producto:
        </label>{{product.name | capitalize}}
        {{product.ElementData[0].name}}
        {{product.ElementData[1].name}}</span>
    </div>

    <div class="collapsible-body">
      <div class="row">

        <div class="col s12 m2">
          <div class="row section">
            <img
              class="responsive-img section col s12 m12"
              data-caption="{{product.description}}"
              ng-src="{{product.imageURI}}">
            <button
              type="button"
              class="btn col s6 m12"
              style="margin-top:5px"
              name="button"
              ng-if="isPrivate()"
              ng-click="updateProduct(product)">Editar</button>
            <button
              type="button"
              class="btn col s6 m12"
              style="margin-top:5px"
              name="button"
              ng-if="isPrivate()"
              ng-click="deleteConfirm(product)">Eliminar</button>
          </div>
        </div>

        <div class="col s12 m10">
          <div class="row section">
            <div class="col s12 m6" ng-repeat="elementData in product.ElementData">
              <span>
                <label for="elementData">{{elementData.Element.name | capitalize}}:
                </label>
              </span>

              <span>
                <strong>{{elementData.name | capitalize}}</strong>
              </span>

              <span>
                <strong>{{elementData.discount}}
                  <span ng-if="elementData.discount">% Desc.</span>
                </strong>
              </span>

            </div>
          </div>
          <div class="row section">
            <div class="col s12 m12 ">
              <label for="description">Descripción:
              </label><br>
              <textarea class="materialize-textarea" readonly>{{product.description | capitalize}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
